* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

.content {
  width: auto;
   height: auto;
   margin: 0 auto;
   padding: 10px;
   position: relative;
   background-color: #9BC4BC;
}

.box0 {
  position: relative;
  top: 120px;
  width: 75%;
  height: 800px;
  background-color: white;
  border-radius: 6px;
  color: #e8883a;
  margin: 0 auto;
}

.signedinas {
  position: absolute;
  top: 15%;
  right: 5%;
  align: right;
  font-size: 18px;
  color: #823400;
  z-index: 3;
}

.box00 {
  padding-left: 24px;
}

.banner {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 128px;
  background-color: #4B5043;
  z-index: 1;
  background-attachment: fixed;
}

.boxA {
  position: absolute;
  padding-left: 16px;
  font-size: 64px;
  font-family: sans-serif;
  color: #bc5b00;
  text-shadow: 2px 1px #efa056;
  z-index: 3;
}

/*.boxA {
  width: 720px;
  font-size: 32px;
  font-family: sans-serif;
  padding: 8px;
  background-color: #edddd0;
  border: 3px solid #c4c2c2;
  border-radius: 15px;
  color: #e8883a;
}*/

.boxB {
  width: 80%;
  font-family: sans-serif;
  font-size: 30px;
  padding: 8px;
  margin: 15px auto;
  background-color: #D3ffe9;
  border: 2px solid #d3ffe9;
  border-radius: 5px;
  color: #000;
}

.boxB:hover {
  background-color: white;
}

.boxC {
  width: 126px;
  font-family: sans-serif;
  padding: 8px;
  background-color: #edddd0;
  border: 3px solid #ffc759;
  border-radius: 15px;
  color: #e8883a;
}
