<div class="banner">
  <div id="stripe"></div>
  <div id="stripe2"></div>
  <div id="stripe3"></div>
  <div id="stripe4"></div>
  <div id="stripe5"></div>
  <h1 class="boxA" id="title">Hoot</h1>
  <p class="signedinas">
    <% if user_signed_in? %>
      Logged in as <strong> <%= "#{current_user.email}" %> </strong> &nbsp;&nbsp;&nbsp;&nbsp;
      <%= (link_to 'Logout', destroy_user_session_path, method: :delete) %>
    <% else %>
      <%= (link_to 'Login/Signup', new_user_session_path) %>
    <% end %>
  </p>
</div>
