<head>
<link rel="stylesheet" type="text/css" href="../stylesheets/restaurant_index.css">
</head>
<body id="bg2">
  <div class="banner">
    <div id="stripe"></div>
    <div id="stripe2"></div>
    <div id="stripe3"></div>
    <div id="stripe4"></div>
    <div id="stripe5"></div>
    <h1 class="boxA" id="title">Add your Restaurant</h1>
  </div>

  <div class="box0">
    <div class="box00">

      <%= render 'form' %>

      <%= link_to 'Back', restaurants_path %>

    </div>
    <br>
  </div>

</body>
